!!!
html(lang='#{lang}')
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    link(rel='stylesheet', href='/css/player.css')
    script(src='/lib/head.min.js')
    script(type='text/javascript')
      head.js(
        "/js/vendor_filter.js",
        "/js/widgets_filter.js",
        "/js/vendor_filter_others.js",
        "/socket.io/socket.io.js",
        "/socket.io/backbone.io.js",
        "/js/templates_filter.js",
        "/js/models_filter.js",
        "/js/views_filter.js",
        "/js/player.js"
      );
  body
    block content
