.logo
ul#nav
        li.top.list-menu
          a.top_link(href="/manual")
            i.icon-list.icon-white
            span=i18n.gettext('Manual')
        li.top.edit-menu
          a.top_link(href="/editor")
            i.icon-edit.icon-white
            span= i18n.gettext('Editor')
