block content
  img#image(style="position:absolute")
  #content(data-bind="foreach: items")
    <!-- ko if: type() == 'image' -->
    img(data-bind="attr: { src: 'uploads/' + name() }, style: { position: 'absolute', top: top(), width: width(), height: height(), left: left(), right: right(), bottom: bottom(), zIndex: zindex() }")
    <!-- /ko -->

    <!-- ko if: type() == 'widget' -->
    #widget(data-bind="WebvfxSimpleWidget: $data")
    <!-- /ko -->

    <!-- ko if: type() == 'animation' -->
    #animation(data-bind="WebvfxAnimationWidget: { data: $data, path: 'uploads/' }")
    <!-- /ko -->


