block content
  img#image(style="position:absolute")
  #content(data-bind="foreach: items")
    <!-- ko if: type() == 'image' -->
    img(data-bind="attr: { src: 'uploads/' + name() }, style: { position: 'absolute', top: top()+'px', width: width()+'px', height: height()+'px', left: left()+'px', right: right()+'px', bottom: bottom()+'px', zIndex: zindex() }")
    <!-- /ko -->

    <!-- ko if: type() == 'widget' -->
    #widget(data-bind="WebvfxSimpleWidget: $data")
    <!-- /ko -->

    <!-- ko if: type() == 'animation' -->
    #animation(data-bind="WebvfxAnimationWidget: { data: $data, path: 'uploads/' }")
    <!-- /ko -->


