<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="styles/editor.css">
    <title>Webvfx Editor</title>
    <script>
    var getParameterByName = function(name, defaultValue) {
        var name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
        var results = regex.exec(location.search);
        return results == null ? defaultValue : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    var width = getParameterByName('width', 720);
    var height = getParameterByName('height', 570);

    window.stageScale = getParameterByName('scale', 1);
    window.stageWidth = Math.round(width * stageScale);
    window.stageHeight = Math.round(height * stageScale);
    </script>
  </head>
  <body>
    <div id="webvfx-collection"></div>
    <div id="container"></div>
    <div id="main-controls">
        <div id="mouse-position">(0px,0px)</div>
        <table>
        <tr>
            <td>
            <fieldset>
            <legend>Add images</legend>
                <input type="file" id="files" value="files" multiple>
            </fieldset>
            <fieldset>
            <legend>Add text</legend>
                <input type="text" id="text" style="width:200px">
            </fieldset>
            </td>
            <td>
            <fieldset>
            <legend>Sync</legend>
                <label for="real-time">real time</label>
                <select id="real-time">
                    <option>no</option>
                    <option>yes</option>
                </select>
                <button id="update">update video</button>
            </fieldset>
            </td>
        </tr>
        </table>
    </div>
    <script type="text/template" id="webvfx-obj-template">
        <h3 id="title-<%= id %>"><%= model.getType() %> <%= id %></h3>
        <div id="webvfx-data-<%= id %>" style="display:none">

        <% if (model.getType() == "Text") { %>

            <fieldset>
            <legend>Text</legend>

            <table>
                <tr>
                    <th><label for="text-<%= id %>">text</label></th>
                    <td><input type="text" id="text-<%= id %>" value="<%= model.kObj.getText() %>" style="width:80px"></td>
                </tr>
                <tr>
                    <th><label for="fill-<%= id %>">color</label></th>
                    <td>
                        <select id="fill-<%= id %>">
                        <% _.each(colors, function(color) { %>
                            <option <% if (color == model.kObj.getFill()) { %>selected<% } %>><%= color %></option>
                        <% }); %>
                        <select>
                    </td>
                </tr>
                <tr>
                    <th><label for="background-<%= id %>">background</label></th>
                    <td>
                        <select id="background-<%= id %>" class="disabled" disabled>
                            <% _.each(colors, function(color) { %>
                                <option><%= color %></option>
                            <% }); %>
                        <select>
                    </td>
                </tr>
                <tr>
                    <th><label for="scroll-<%= id %>">scroll</label></th>
                    <td>
                        <select id="scroll-<%= id %>" class="disabled" disabled>
                            <option>no</option>
                            <option>yes</option>
                        <select>
                    </td>
                </tr>

        <% } else { %>

            <fieldset>
            <legend>Image</legend>

            <table>

                <tr>
                    <td colspan="2" style="text-align:center;padding:5px;">
                        <img src="<%= model.kObj.children[0].attrs.image.src %>" id="image-<%= id %>" width="100">
                    </td>
                </tr>

        <% } %>

                <tr>
                    <th>
                        <label for="width-<%= id %>">width</label>
                    </th>
                    <td>
                        <input type="text" id="width-<%= id %>" value="<%= model.getRealValue(model.getWidth()) %>" <% if (model.getType() == "Text") { %>disabled class="disabled"<% } %>> px
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="height-<%= id %>">height</label>
                    </th>
                    <td>
                        <input type="text" id="height-<%= id %>" value="<%= model.getRealValue(model.getHeight()) %>" <% if (model.getType() == "Text") { %>disabled class="disabled"<% } %>> px
                    </td>
                </tr>
                <tr>
                    <th><label for="top-<%= id %>">top</label></th>
                    <td>
                        <input type="text" id="top-<%= id %>" value="<%= model.getRealValue(model.getTop()) %>"> px
                    </td>
                </tr>
                <tr>
                    <th><label for="left-<%= id %>">left</label></th>
                    <td>
                        <input type="text" id="left-<%= id %>" value="<%= model.getRealValue(model.getLeft()) %>"> px
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="right-<%= id %>">right</label>
                    </th>
                    <td>
                        <input type="text" id="right-<%= id %>" value="<%= model.getRealValue(model.getRight()) %>"> px
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="bottom-<%= id %>">bottom</label>
                    </th>
                    <td>
                        <input type="text" id="bottom-<%= id %>" value="<%= model.getRealValue(model.getBottom()) %>"> px
                    </td>
                </tr>
            </table>

            </fieldset>

            <fieldset>
            <legend>Effects</legend>

            <table>

                <tr>
                    <th>
                        <label for="effect-<%= id %>">effect</label>
                    </th>
                    <td>
                        <select id="effect-<%= id %>" style="width:90px">
                            <% _.each(effects, function(effect) { %>
                                <option><%= effect %></option>
                            <% }); %>
                        <select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="duration-<%= id %>">duration</label>
                    </th>
                    <td>
                        <input type="text" id="duration-<%= id %>">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="iterations-<%= id %>">iterations</label>
                    </th>
                    <td>
                        <input type="text" id="iterations-<%= id %>">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="delay-<%= id %>">delay</label>
                    </th>
                    <td>
                        <input type="text" id="delay-<%= id %>">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="button">
                        <button id="add-effect-<%= id %>">add</button>
                    </td>
                </tr>

            </table>

            </fieldset>

            <fieldset>
            <legend>Move</legend>

            <table>

                <tr>
                    <th>
                        <label for="x-<%= id %>">x </label>
                    </th>
                    <td>
                        <input type="text" id="x-<%= id %>"> px
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="y-<%= id %>">y </label>
                    </th>
                    <td>
                        <input type="text" id="y-<%= id %>"> px
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="move-duration-<%= id %>">duration</label>
                    </th>
                    <td>
                        <input type="text" id="move-duration-<%= id %>">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="button">
                        <button id="move-<%= id %>">move</button>
                    </td>
                </tr>

            </table>

            </fieldset>

            <fieldset>
            <legend>Remove</legend>

            <table>

                <tr>
                    <td colspan="2" class="button">
                        <button id="remove-<%= id %>">remove</button>
                    </td>
                </tr>

            </fieldset>
        </div>
    </script>
    <script src="js/lib/jquery-v1.7.2.min.js"></script>
    <script src="js/lib/jquery-ui-v1.10.2.min.js"></script>
    <script src="js/lib/kinetic-v4.5.2.min.js"></script>
    <script src="js/lib/underscore-v1.5.1.min.js"></script>
    <script src="js/lib/backbone-v1.0.0.min.js"></script>
    <script src="js/editor/tools.js"></script>
    <script src="js/editor/models.js"></script>
    <script src="js/editor/views.js"></script>
    <script src="js/editor/main.js"></script>
  </body>
</html>
